<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">pass</property>
  <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hero</property>
  <property name="hibernate.connection.username">postgres</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.transaction.auto_close_session">true</property>
  <mapping class="com.mavenwebapp.myapp.entity.HeroList"/>
  <mapping class="com.mavenwebapp.myapp.entity.Category"/>
 </session-factory>
</hibernate-configuration>
